body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Change the background color as you like */
}

.container {
  background-color: #ffa500; /* Change the container background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-align: center;
}

h1 {
  font-size: 48px; /* Change the font size as needed */
  font-family: 'Arial', sans-serif; /* Change the font-family if desired */
  color: #ffffff; /* Change the text color */
  background-image: linear-gradient(45deg, #ff1493, #00bfff); /* Change the gradient colors */
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  border-radius: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
